html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #fafafa; }

main {
  padding: 0 2rem; }

header {
  padding: 5rem 0;
  text-align: center;
  color: #4c4e61; }
  header h2 {
    margin-bottom: 1rem;
    font-weight: 400; }
    header h2 span {
      color: initial;
      font-weight: 600; }
  header p {
    font-weight: 200; }

.cards .card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 10px rgba(24, 95, 109, 0.2);
  margin-bottom: 2.5rem; }
  .cards .card > .content {
    padding: 2rem 0rem 3rem 2rem;
    line-height: 1.6; }
    .cards .card > .content p {
      font-weight: 200;
      color: #4c4e61;
      margin-top: .5rem; }
  .cards .card div.image {
    text-align: right;
    padding-bottom: 1rem;
    margin-right: 1.5rem; }
  .cards .card-supervisor {
    border-top: 5px solid #45d3d3; }
  .cards .card-team_builder {
    border-top: 5px solid #ea5353; }
  .cards .card-karma {
    border-top: 5px solid #fcaf4a; }
  .cards .card-calculator {
    border-top: 5px solid #549ef2; }

.attribution {
  font-size: 1.3rem;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

@media only screen and (min-width: 768px) {
  header h2 {
    font-size: 2.5rem; }
  header p {
    width: 60%;
    margin: 0 auto; } }

@media only screen and (min-width: 1024px) {
  header h2 {
    font-size: 3rem; }
  .cards {
    display: flex;
    align-items: center; }
    .cards > :not(:last-child) {
      margin-right: 2rem; }
    .cards .card {
      max-width: 37rem; } }

@media only screen and (min-width: 1024px) {
  header p {
    width: 45%;
    margin: 0 auto; } }
